<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mí</h2>
    <p>Mis principales intereses en el ámbito de la informática son en:
         desarrollo de software, gestión de bases de datos, control de calidad,
          auditoria informática y análisis de sistemas. Ya que durante mi carrera
           pude desenvolverme en actividades relacionadas con estas áreas. Soy una persona responsable,
            dinámica, creativa, comunicativa, me desenvuelvo bien trabajando en equipo y me gusta estar en continuo aprendizaje.
        </p>
</article>